:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

body {
background-color: rgb(174, 174, 238);
}

.hidden {
    display: none;
}

.main-title {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    margin-top: 60px;
}

.search-form {
    display: flex;
    gap: 5px;
    justify-content: center;
    background-color: rgb(174, 174, 238);
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

input {
    border: 2px solid #111;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #111;
}

button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button:hover:after {
    transform: translate(0, 0);
}

.button:active {
    background-color: #ffdeda;
    outline: 0;
}

.button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button {
        padding: 0 40px;
    }
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.classBtn {
    display: flex;
    justify-content: center;
}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 40px) / 5);
    gap: 10px;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
}

.thumb {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.thumb>img {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform var(--animation-duration) var(--timing-function);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.thumb>img:hover {
    transform: scale(1.03);
}


.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-decoration: none; 
}

.info {
    display: flex;
    gap: 2px;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
}

.info-item {
    background-color: #fee6e3;
    text-align: center;
    font-size: 10px;
    color: #111;
    font-family: "Comfortaa", sans-serif;    
}

